<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>Ruby W2tags</string>
        <key>uuid</key>
        <string>68E5177E-2F24-44D3-91BE-2AFD03B86D0F</string>
    </dict>
</plist>
